/* Responsividade para telas grandes (acima de 1640px) */
@media (max-width: 1640px) {
    /* header .logo {
        width: 120px; 
    } */

    /* header nav ul li {
        font-size: 14px; 
    } */
}

/* Responsividade para tablets (máximo 1098px) */
@media (max-width: 1098px) {
    /* header {
        height: 10vh;
        padding: 0 10px;
    }

    header .logo {
        width: 120px;
    }

    header nav ul li {
        font-size: 14px;
    }

    header nav a:hover {
        font-size: 17px;
    }

    header nav {
        width: 60vw;
    } */
}

@media(max-width:1000){

    /* header .logo {
        width: 13vw;
        height: 7vh;
    } */


}

@media (max-width: 870px) {
           /* redução do tamanho da logo */
    header .logo{

        width: 13vw;
        height: 7vh;
    }


}

@media (max-width: 768px) {
    /* header {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        height: 10vh;
        padding: 0 10px;
        position: relative; 
    } */

    /* Mantém o logo no canto esquerdo */
    header .logo {
        /* ajuste da questão da logoda ford */
        width: 13vw; 
        height: 7vh;
    }

    /* Centraliza o nav no meio do header */
    /* header nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); 
    } */

    /* Estilização dos itens do menu */
    /* header nav ul {
        display: flex;
        gap: 15px; 
        padding: 0;
        margin: 0;
        list-style: none;
    } */

    header nav ul li{
       /* font-weight: 10px; */
       font-size: 8px;
    }
}

/* Responsividade para smartphones (máximo 650px) */
@media (max-width: 650px) {
    /* header {
        height: 10vh;
        padding: 0 10px;
    } */

    header .logo {
        /* width: 5vw; */
        width: 16vw; 
        height: 7vh;
    }

    /* header nav {
        width: 50vw;
    } */

    /* header nav ul li {
        font-size: 12px;
    }

    header nav a:hover {
        font-size: 14px;
    } */
}

/* verificar os bloqueios relacionados aos processos  */
@media (max-width: 597px){

    header .logo {
        /* border: solid 2px red; */
        width: 15vw;
        height: 7vh;
    }
    header nav ul li a{
        font-size: 17px;
    }

}

/* Responsividade para dispositivos com tela muito pequena (máximo 480px) */
@media (max-width: 480px) {
    header {
        height: 10vh;
        padding: 0 5px;
        /* border: solid 2px red; */
    }

    header .logo {
        width: 15vw;
        height: 5vh;
    }

    header nav {
        width: 60vw;
        /* border: solid 2px red; */
    }

    header nav ul li a {
        font-size: 13px;
    }
    header nav a:hover {
        font-size: 13px;
    }

    main{
        /* border: solid 2px red; */
    }

    main #carousel{
        /* border: solid 2px black; */
        height: 60vh;
        /* testando com a altura 60vh */
        /* teste do height:50vh ;, pois estava ocorrendo 
        uma quebra nesse setor */
        /* proposta alternativa relacionada a questão da diferença
        entre a diferença, pois ainda há a tentativa de redução do tamanho da fonte,
        entretanto ainda teria a questão da diferença desse espaço, pois ainda tem a questão da quebra no processo */
    
       /* redução da fonte conforme o mesmo tamanho do header, além de adicionar no das redes sociais 
       Neste caso colocar o header,main e footer com o mesmo tamanho de fonte   */
    }

    main #carousel-title{
        /* border: solid 2px yellow; */
        /* height: 50vh; */
        /* padding-bottom: 40px; */
        /* padding-top: 80px; */
        /* margin-top: 500px; */
        margin-bottom: 100px;
        /* background-color: red; */
    }

    /* main #carousel-title p{
        font-size: 5px;
    } */
     main p{
        font-size: 10px;
     }
}

/* Responsividade para telas menores (máximo 370px) */
@media (max-width: 370px) {
    header {
        height: 10vh;
        padding: 0 5px;
    }

    header .logo {
        width: 20vw;
        height: 5vh;
    }

    header nav {
        width: 70vw;
    }

    header nav ul li {
        font-size: 10px;
    }

    header nav a:hover {
        font-size: 12px;
    }


    div#carousel-title a {
        font-size: 10px; /* Aumenta o tamanho do link */
    }
    /* responsividade footer */
    /* footer .seccao_logos{
        width: 25vw;
        gap: 1.5px;

     } */

     /* footer .seccao_logos p {
        font-size: 6px;

     } */

     /* footer .seccao_logos img {
        width: 3vw;
        height: 2vh;
    }

    footer .direitos_autorais {
        font-size: 6px;
    } */

    footer .redesociais{
        font-size: 13px;
        /* border: solid 2px black; */
    }

    footer img {
        width: 13vw;
        height: 4vh;
        /* border: solid 2px yellow; */
    }

    footer .img_logo{        
         /* border: solid 2px red; */
         /* margin-left: 50px; */
         /* padding-left: 20px; */

    }


}

    @media(max-width:310px)
    {

        header .logo {
            width: 15vw;
            height: 3vh;
        }

        /* div#carousel-title a {
            font-size: 10px; /* Aumenta o tamanho do link } */

        footer .redesociais{
            font-size: 8px;
            /* border: solid 2px black; */
        }
    
        footer img {
            width: 12vw;
            height: 4vh;
            /* border: solid 2px yellow; */
        }
    
        footer .img_logo{        
             /* border: solid 2px red; */
             /* margin-left: 50px; */
             /* padding-left: 20px; */
             /* height: 2vh; */
    
        }

    }